.profile-card > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .profile-card > div > img {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
  }
  .profile-card:hover {
    box-shadow: -1px 1px 22px 1px #00DFD8,
                 0px 0px 22px 0px #FF4D4D; 
    border-radius: 15px;
    
    z-index: -1;
    transition: 1s ease-in-out;
    animation: rgb 6s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @keyframes rgb {
    0% {

      box-shadow: -1px 1px 22px 1px #007CF0;
    }
    20% {
      /* background-color: #00DFD8; */
      box-shadow: -1px 1px 22px 1px #00DFD8;
    }
    40% {
      /* background-color: #00DFD8; */
      box-shadow: -1px 1px 22px 1px #7928CA;
    }
    60% {
      /* background-color: #00DFD8; */
      box-shadow: -1px 1px 22px 1px #FF0080;
    }
    80% {
     
      box-shadow: -1px 1px 22px 1px #FF4D4D;
    }
    100% {
      /* background-color: #00DFD8; */
      box-shadow: -1px 1px 22px 1px #F9CB28;
    }
  }
  .contributor-name {
    display: inline-block;
    position: relative;
  }
  .contributor-name::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: grey;
    transform-origin: left;
    transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 350ms ease-in;
  }
  .profile-card:hover .contributor-name::after {
    transform: scaleX(1);
  }
  input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
  }
.bg-gray-100
{
  background-color: #000 !important;
}